<!doctype html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "/main.css" rel = "stylesheet">

</head>
<body>

 <div th:replace = "~{ nav.html :: navbar }"></div>

 <form action = "/add" method = "post" id = "addForm">
     <input name = "title">
     <input name = "price">
     <input name = "username" th:value="${#authentication.principal.username}" style="display: none;" sec:authorize="isAuthenticated">
     <input name = "username" value="GUEST" style="display: none;" sec:authorize="isAnonymous">
     <input accept = "image/*" type = "file" id = "fileInput">
     <input type = "hidden" name = "imgURL" id = "imgURL">
     <button type = "submit">전송</button>
 </form>

<script>
    document.getElementById('addForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        let file = document.getElementById('fileInput')

        if (!file.files || file.files.length === 0) {
            e.target.submit()
            return
        }

        let fileName = encodeURIComponent(file.files[0].name)
        let result = await fetch('/presigned-url?fileName=' + fileName)
        result = await result.text()

        let uploadResponse = await fetch(result, {
            method : 'PUT',
            body : file.files[0]
        })

        if (uploadResponse.ok) {
            document.getElementById('imgURL').value = result.split('?')[0];
        }

        e.target.submit()
    })
</script>
</body>
</html>